<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All listings</title>
</head>
<body>
    <ul>
        <form action="/listings/new" method="get">
            <button> Create new Lsiting</button>
        </form>
        <% for(let listing of allListing){ %>
        <li> <a href= "/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
</html>
