<% layout("./Layouts/boilerplate") %>
<body>
    <h3>All listings</h3>
    <ul>
        <form action="/listings/new" method="get">
            <button> Create new Lsiting</button>
        </form>
        <% for(let listing of allListing){ %>
        <li> <a href= "/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
