body{
    background-color: white;
    font-family: "Plus Jakarta Sans", sans-serif !important; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    background-color: white !important;
}

.fa-compass{
    font-size: 2rem ;
    color: #ff3a5e ;
}

.f-info{
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebebeb;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info-links{
    vertical-align: middle;
    width: 100%;
}

.f-info-socials{
    vertical-align: middle;
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}



.card{
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
}

.listing-link{
    text-decoration: none;
    color:#222222 !important;
    margin: 0 !important;
}


.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: white;
    opacity: 0.25;
    transition-duration: 0.3s;
}

.add-btn{
    background-color: #ff3a5e !important;
    border: none !important;
}

.edit-btn{
    background-color: #ff3a5e !important;
    border: none !important;
}